/* 
    Theme Name: Projeto Lobo
    Version: 1.0
    Author: Pedro Palermo Martins
    Description: Trabalho Wordpress
    Author URI: https://gitlab.com/pedropalermo97
    */

body {
    max-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

a:link 
{ 
 text-decoration:none; 
} 
.menu-navegacao-container ul {
    width: 100%;
    height: 100px;
    background-color: #85CDF5;
    display: flex;
    justify-content: space-around;
    position: sticky;
    align-items: center;
    transition: height .4s .1s ease-out;
}

footer {
    height: 70px;
    background-color: #85CDF5;
    position: sticky;
    min-height: 100 vh;
}

#menu-navegacao {
    display: flex;
    gap: 10px;
}

main {
    background-color: black;
    color: aliceblue;
    font-size: 40px;
    text-align: center;
}

.wp-block-quote p{
    width:1000px;
    color:red;
}







